html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  padding-top: 40px;
}



/* ===========================================*/
/* Records Requests */
/* ===========================================*/
.letterhead {
  text-align: right;
}

section.contact-info {
  line-height: 0.8em;
}

section.records-department-info {
  line-height: 0.8em;
}
