html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  padding-top: 40px;
}



/* ===========================================*/
/* Records Requests */
/* ===========================================*/

body.records-request {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size: 18px;
}

section.letterhead {
  text-align: right;
}

img#letterhead {
  width: 300px;
}

section.contact-info {
  line-height: 0.8em;
}

section.records-department-info {
  line-height: 0.8em;
  margin-bottom: 2em;
}

section.client-info {
  line-height: 0.8em;
  margin-left: 4em;
  margin-bottom: 2em;
}

section.signoff {
  text-align: center;
}

section.signoff .closing {
  margin-top: 2em;
  margin-bottom: 4em;
}

.date {
  margin-bottom: 2em;
}

#sig {
  width: 200px;
}

section.enc {
  margin-top: 1em;
}
